<link rel="stylesheet" href="/css/user_profile.css">


<header id="body-header">
    <nav id="navbar">
        <ul class="nav-links">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#about">About</a></li>
            <li class="nav-item"><a href="#education">Donate</a></li>
            <li class="nav-item"><a href="#skills">Get Involved</a></li>
            <li class="nav-item"><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
</header>
<section id="about">
    <div id="profilepic">
        <img src="/images/profile.png" alt="profilepic">
        <!-- <img src="/images/user_avatar1.jpg" class="user_profile_img"> -->
    </div>
    <h3>
        <%= profile_user.name %>
    </h3>
</section>

<div id="user_profile">
    <!-- <div id="profile">
        <img src="/images/user_avatar1.jpg" class="user_profile_img">
        <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">


        <button class="edit_profile"><a href="/users/editProfile/<%= user.id %>">Edit Profile</a></button>
    </div> -->
    <div id="content">
        <h4>User Details</h4>
        <span><b>Name: </b>
            <%=profile_user.name%>
        </span><br />
        <span><b>Email: </b>
            <%=profile_user.email%>
        </span><br />
        <span><b>Country: </b> India</span></br>
        <button class="edit_profile"><a href="/users/editProfile/<%= user.id %>">Edit Profile</a></button>

    </div>
    <div>
        <h4>Make Your First Donation</h4>

        <h5>Donation List</h5>
    </div>
</div>

<!-- <% if(user.id==profile_user.id) { %>
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="submit" value="Update">
    </form>
    <% }else { %>
        <p>
            <%= profile_user.name %>
        </p>
        <p>
            <%= profile_user.email %>
        </p>
    <% } %> -->